@import "../../../styles.scss";

.bloque{
    padding-top: 5%;
}

.bloquePerfil{
    box-shadow: 5px 3px 6px rgba(0, 0, 0, 0.356);
    border-radius: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

#correoFotoEditado{
    color: #ced4da;
    margin-bottom: 4%;
}

.form-control #nombreSimple{
    padding: 0.1rem 0.75rem;
}

#nombreSimple{
    font-size: 1.4rem;
    padding-top: 2%;
}

.form-control:focus {
    box-shadow: none;
    border-color: #ced4da;
}

.botonCerrar{
    background: #3D99CE;
    box-shadow: none;
    border: none;
    font-size: 1.2rem;
    width: 9rem;
}

.botones{
    padding-top: 6%;
}

// .tags{
//     padding-top: 2%;
// }

.botonPerfil {
    background: #3D99CE;
    box-shadow: none;
    border: none;
    font-size: 1.2rem;
    width: 6rem;
}

.botonPerfil:hover {
    background: #3D99CE
}

.botonPerfil:focus {
    background: #3D99CE;
    box-shadow: none
}

.botonPerfil:active {
    background: #3D99CE;
    box-shadow: none
}

.labels {
    font-size: 11px
}