@import "../../../styles.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: center;
}

#fondo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.captcha{
    padding-bottom: 10%;
}

main {
    text-align: center;
    display: flex;
    padding-bottom: 200px;
}

.titulo {
    color: $vColorBackground;
    padding-top: 10%;
    padding-bottom: 10%;
}

.panel{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: center;
    padding-left: 2%;
    padding-right: 2%;
    margin: auto;
    background-color: rgba(61, 153, 206, 0.87);
    border-radius: 25px;
}

mat-form-field {

    padding-bottom: 15px;    
}

#botonIngresar{

    margin-top: -5px;

    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;

    color: $vColorMain2;

}

p a{
    text-decoration: none;
    color:$vColorBackground
}
p a:hover {
    color:$vColorMain2;
    text-decoration:underline;
}