<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #3D99CE;">
    <div class="container-fluid">
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/inicio']"><span class="bi-house-door"></span> INICIO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/foro']"><span class="bi-file-earmark-person"></span> FORO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/comunidad']"><span class="bi-people"></span> COMUNIDAD</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/soporte']"><span class="bi-telephone"></span> SOPORTE</a>
        </li>
        </ul>
        
    </div>
    </div>
</nav>
