<body>
    <app-encabezado></app-encabezado>
    <app-navbar></app-navbar>

    <div id="fondo "class="pt-3 px-s pt-xl-5 px-xl-5 text-center" style="background-image: url('../../../assets/imagenes/universitarios1.png'); background-repeat: no-repeat; background-size: cover;">

        <main>
            <div class="panel">

                <form [formGroup]="formularioRegistro" (ngSubmit)="onSubmit()" novalidate> 

                    <h3 class="titulo">Registro</h3>

                    <!-- INPUT NOMBRE -->

                    <div class="container">
                        <mat-form-field appearance="fill">
                            <!-- input -->
                            <mat-label>Nombre Completo</mat-label>
                            <input matInput formControlName="nombre">
                            <!-- Validacion -->
                                <mat-error *ngIf="formularioRegistro.controls['nombre'].invalid && (formularioRegistro.controls['nombre'].dirty || formularioRegistro.controls['nombre'].touched)">
                                    <mat-hint *ngIf="formularioRegistro.controls['nombre'].hasError('required')">Este campo es obligatorio</mat-hint>
                                    <mat-hint *ngIf="formularioRegistro.controls['nombre'].hasError('maxlength')">Tamaño máximo 40 caracteres.</mat-hint>  
                                </mat-error>  
                        </mat-form-field>
                    </div>

                    <!-- INPUT CORREO -->

                    <div class="container">
                        <mat-form-field appearance="fill">
                            <!-- input -->
                            <mat-label>Correo Electrónico</mat-label>
                            <input matInput formControlName="email">
                            <!-- Validacion -->
                                <mat-error *ngIf="formularioRegistro.controls['email'].invalid && (formularioRegistro.controls['email'].dirty || formularioRegistro.controls['email'].touched)">
                                    <mat-hint *ngIf="formularioRegistro.controls['email'].hasError('required')">Este campo es obligatorio</mat-hint>
                                    <mat-hint *ngIf="(formularioRegistro.controls['email'].dirty || formularioRegistro.controls['email'].touched) && formularioRegistro.controls['email'].invalid && !formularioRegistro.controls['email'].hasError('required')">Ingrese un correo electrónico valido.</mat-hint>
                                </mat-error>  
                        </mat-form-field>
                    </div>

                    <!-- INPUT RUT -->

                    <div class="container">
                        <mat-form-field appearance="fill">
                            <!-- input -->
                            <mat-label>RUT</mat-label>
                            <input matInput formControlName="rut">
                            <!-- Validacion -->
                            <mat-error *ngIf="formularioRegistro.controls['rut'].invalid && (formularioRegistro.controls['rut'].dirty || formularioRegistro.controls['rut'].touched)">
                                <mat-hint *ngIf="formularioRegistro.controls['rut'].hasError('required')">Este campo es obligatorio</mat-hint>
                                <mat-hint *ngIf="(formularioRegistro.controls['rut'].dirty || formularioRegistro.controls['rut'].touched) && formularioRegistro.controls['rut'].invalid && !formularioRegistro.controls['rut'].hasError('required')">Ingrese un RUT valido<br> Formato: 12.345.678-9</mat-hint>
                            </mat-error>  
                        </mat-form-field>
                    </div>
                    
                    <!-- INPUT CLAVE -->

                    <div class="container">
                        <mat-form-field appearance="fill">
                            <!-- input -->
                            <mat-label>Clave</mat-label>
                            <input type="password" matInput formControlName="clave" >
                            <!-- Validacion -->
                                <mat-error *ngIf="formularioRegistro.controls['clave'].invalid && (formularioRegistro.controls['clave'].dirty || formularioRegistro.controls['clave'].touched)">
                                    <mat-hint *ngIf="formularioRegistro.controls['clave'].hasError('required')">Este campo es obligatorio</mat-hint>
                                    <mat-hint  *ngIf="formularioRegistro.controls['clave'].hasError('maxlength') || formularioRegistro.controls['clave'].hasError('minlength')">La contraseña debe tener de 4 a 20 caracteres.</mat-hint>  
                                </mat-error>  
                        </mat-form-field>
                    </div>

                    <!-- INPUT REPETIR CLAVE -->

                    <div class="container">
                        <mat-form-field appearance="fill">
                            <!-- input -->
                            <mat-label>Repetir clave</mat-label>
                            <input type="password" matInput formControlName="claveRepetida" >
                            <!-- Validacion -->
                                <mat-error *ngIf="formularioRegistro.controls['claveRepetida'].invalid && (formularioRegistro.controls['claveRepetida'].dirty || formularioRegistro.controls['claveRepetida'].touched)">
                                    <mat-hint *ngIf="formularioRegistro.controls['claveRepetida'].hasError('required')">Este campo es obligatorio</mat-hint>
                                </mat-error>  
                        </mat-form-field>
                    </div>
                    <br>

                    <!-- Boton enviar formulario -->
                    
                    <button id="botonRegistro" bmat-raised-button [disabled]="!formularioRegistro.valid" color="primary" type="submit">Registrarse</button>

                    <!-- dialogo usuario registrado -->
                    <!-- 
                    <div *ngIf="usuarioRegistrado == true">
                    </div> -->

                    <!-- Opciones extra -->

                    <p id="extraOptions" class="mt-3 mb-3">
                        Ya tengo una cuenta <br/>
                        <a [routerLink]="['/iniciar-sesion']">Iniciar Sesión</a><br/>
                        
                    </p>

                </form>
            </div>
        </main>
    </div>
    <app-pie-pagina></app-pie-pagina>
</body>