<body>
    <app-encabezado></app-encabezado>
    <app-navbar></app-navbar>

    <section id = "soporteSeccion">
      <div class="container align-items-center" >
        <div id="soporteS" class="container">
            <div class="row row-cols-1">
                <div class="borde col">
                  <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
                  </div>
                </div>  
            </div>
        </div>
      </div>
    </section>

    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary">Enviar</button>
    </div>
    
    <app-pie-pagina></app-pie-pagina>
</body>
