<body>
    <header>
        <div class="fondo">
            <div class="blur">
                <div class="texto">
                    <h1>¿Buscas aprender?</h1>
                    <h2>Study gate es un sitio web creado con el propósito de facilitar el aprendizaje a través del flujo 
                        de preguntas y respuestas por estudiantes o profesores.</h2>
                </div>
                <img src="../../assets/imagenes/1.png">
            </div>
        </div>
        
        <!--<h1>STUDY GATE</h1>-->
    </header>
    
    
    <section id="seccion1">
        <p align = "center" id="parrafo1">
            ESTA PAGINA BUSCA DAR APRENDIZAJE A TODO TIPO DE PERSONA
        </p>
    </section>
    
    <section id="botonweb">
        <div class="fondo2">
            <div class="blur2">
                <h1>
                    <a [routerLink]="['/inicio']"  class="boton">Ir a la web</a>
                </h1>
            </div>
        </div>
    </section>
    
    <section id="contacto">
    
        <div class="bloqueCont">
            <h1>
                INFORMACION DE CONTACTO
            </h1>
            <h2>
                NUMERO:<BR>
                CORREO:<BR>
                DIRECCION:<BR>
            </h2>
        </div>
    
        <ul>
            <li>
                <a href="https://twitter.com/" class="iconos" target="_blank">
                    <input type="image" src="../../assets/imagenes/twitter.png" 
                    style="border: 0;" height="100" width="100"/>
                </a>
    
                <a href="" class="iconos">
                    <input type="image" src="../../assets/imagenes/whatsapp.png"
                    style="border: 0;" height="100" width="100"/>
                </a>
    
                <a href="https://www.instagram.com/" class="iconos" target="_blank">
                    <input type="image" src="../../assets/imagenes/instagram.png"
                    style="border: 0;" height="100" width="100"/>
                </a>
            </li>
        </ul>   
    
    </section>
    
    <script src="" async defer></script>
</body>